div.top-container {
  background-color: #0f0223;
  padding-top: 2%;
  position: relative;
  right: 10%;
}

.my-name-title {
  position: relative;
  left: 30%;
}

div.top-container-titles {
  position: relative;
  left: 30%;
}

.portrait-image {
  width: 40%;
  height: 95%;
  position: relative;
  right: 5%;
  top: -500px;
  padding: 30px;
}

.angel-image {
  opacity: 50%;
  position: relative;
  top: -500px;
}

div.middle-container {
  background-color: rgb(48, 9, 103);
  padding: 1%;
}
.mid-container-img {
  width: 25%;
}

body {
  background-color: #cdf2f2;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 80px;
  margin: 50px auto 0 auto;
  font-family: 'Merriweather', bold;
  color: #cdf2f2;
  line-height: 2;
}

hr {
  width: 5%;
  border-style: none;
  background-color: none;
  border-top-style: dotted;
  border-color: #cdf2f2;
  border-width: 5px;
  margin: 100px auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #c260b5;
  line-height: 2;
  /* font-size: medium; */
}

span {
  font-weight: underline;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #866bd0;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #e370e1;
}

.outro {
  margin: 10px auto 10px auto;
  text-align: center;
}
.cdmx-video {
  position: relative;
}
.angel-image {
  width: 20%;
  position: relative;
}

.bottom-container {
  background-color: #cdf2f2;
  padding: 30px;
  text-align: center;
}

.bottom-outro {
  color: #6d8687;
  font-style: normal;
  font-size: smaller;
  margin-top: 30px;
}

.footer-link {
  color: #6d8687;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/* PAGE FOR PROMOTIONAL VIDEOS */
.future-link {
  color: rgb(229, 18, 145);
}

a:hover {
  color: #eaf6f6;
}

.skill-row {
  text-size-adjust: 20px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.tattoo-img {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.web-img {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.btn {
  background: #cdf2f2;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #cdf2f2;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/*mobile media*/

@media all and (max-width: 900px) and (min-width: 375px) {
  /* top content */
  body {
    width: fit-content;
  }

  h1 {
    font-size: 50px;
    font-family: 'Merriweather', bold;
    color: #cdf2f2;
  }

  .title {
    font-size: 100%;
  }

  .portrait-image {
    width: 50%;
    border-radius: 10%;
  }

  /* mid content */

  .middle-title {
    width: fit-content;
    font-size: 150%;
    font-weight: bolder;
  }

  .mid-container-img {
    position: relative;
    bottom: 50px;
    width: 65%;
    border-radius: 10%;
  }

  .skills-title {
    font-size: 150%;
  }
}
